@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* Кастомные CSS переменные */
@theme {
  /* Custom Font Family */
  --font-family-sans: Montserrat, sans-serif;

  /* Custom Breakpoints */
  --breakpoint-320: 320px;
  --breakpoint-375: 375px;

  /* Custom Colors - Green */
  --color-green-dark: #1d5b43;
  --color-green-light: #81fe95;

  /* Custom Colors - Red */
  --color-red: #fd5656;

  /* Custom Colors - Yellow */
  --color-yellow: #ffbb00;
  --color-golden: #fdb056;

  /* Custom Colors - Gray */
  --color-gray-29: #232829;
  --color-gray-37: #313637;
  --color-gray-91: #919191;
  --color-gray-cd: #cdcdcd;
  --color-gray-4e: #484d4e;
  --color-gray-dc: #dcdcdc;
}
